<div style="display: flex;width: 100%;justify-content: flex-start;padding: 1.5rem 6rem;">
    <h1>Liberação de documentos</h1>
</div>


<!-- PESQUISA -->
<po-page-dynamic-search 
    (p-quick-search)="buscaDocumento($event)" 
    (p-change-disclaimers)="clickDisclaimers($event)"
    (p-advanced-search)="realizaBuscaAvancada($event)" 
    [p-actions]="opcoesTela" 
    [p-filters]="filtroBuscaAvancada">

    <po-table #tableDocumento [p-actions]="acoesTabela" p-container="border" [p-columns]="columns"
        [p-items]="documentos" [p-loading]="loading"
        [p-literals]="{ loadMoreData: 'Carregar mais dados', noData: 'Nenhum documento encontrado' }"
        (p-dblClick)="abrirDocumento($event)"
        (p-show-more)="carregarMais()"
        [p-show-more-disabled]="!haMaisPaginas"
        >

        <ng-template p-table-row-template let-rowItem let-i="rowIndex">

            <div style="overflow-x: auto; width: 100%;">
                <table id="itens-table" class="non-poui-table">
                    <thead>
                        <th>Item</th>
                        <th>Produto</th>
                        <th>Descrição</th>
                        <th>Quantidade</th>
                        <th>UN</th>
                        <th>Valor unitário</th>
                        <th>Valor total</th>
                        <th>Data Entrega</th>
                        <th>Solicitante</th>
                        <th>Centro Custo</th>
                        <th>Necessidade</th>
                        <th>Observações</th>
                    </thead>

                    <tbody>

                        @for (item of rowItem.itens; track item.id; let i = $index) {
                        <tr>
                            <td style="text-align: center;">{{ (i+1).toString().padStart(2, '0') }}</td>
                            <td>{{ item.produto }}</td>
                            <td>{{ item.descricao }}</td>
                            <td>{{ formataNumeroMoeda(item.quantidadeUm1) }}</td>
                            <td>{{ item.um1 }}</td>
                            <td>{{ formataNumeroMoeda(item.valorUnitario) }}</td>
                            <td>{{ formataNumeroMoeda(item.valorTotal) }}</td>
                            <td>{{ item.dataEntrega }}</td>
                            <td>{{ item.solicitante }}</td>
                            <td>{{ item.centroCusto }}</td>
                            <td>{{ item.necessidade }}</td>
                            <td>{{ item.observacao }}</td>
                        </tr>
                        }

                    </tbody>

                </table>
            </div>



        </ng-template>

    </po-table>
</po-page-dynamic-search>


<!-- MODAL VISUALIZAÇÃO -->

<po-modal p-size="xl" p-title="Visualizar Documento">

    <div class="modal-visualizacao-container historico-aprovacao-container">
        <h3>Histórico de aprovação</h3>


        <!-- <po-grid
         [p-columns]="colunasHistoricoDocumento"
         [p-data]="historicoDocumento"
        >


        </po-grid> -->

        <table class="non-poui-table">
            <thead>
                <th>Item</th>
                <th>Situação</th>
                <th>Aprovador</th>
                <th>Nível</th>
                <th>Data Liberação</th>
                <th>Mensagem</th>
                <th>Status</th>
            </thead>
            <tbody>

                @for (item of historicoDocumento; track item.item) {
                <tr>
                    <td>{{ item.item }}</td>
                    <td>{{ item.situacao }}</td>
                    <td>{{ item.aprovador }}</td>
                    <td>{{ item.nivel }}</td>
                    <td>{{ item.dataLiberacao || "Não liberado" }}</td>
                    <td>{{ item.msg }}</td>
                    <td>{{ item.status }}</td>
                </tr>
                }

            </tbody>

        </table>
    </div>


    <div class="modal-visualizacao-container">
        <h3>Documento a liberar</h3>

        <po-table #tableModalDocumento p-container="border" [p-columns]="columnsTabelaModalDocumento"
            [p-items]="[documentoSelecionado]" p-hide-columns-manager>

        </po-table>

    </div>

    <div class="modal-visualizacao-container">

        <h3>Itens do documento</h3>

        <table class="non-poui-table">
            <thead>
                <th>Item</th>
                <th>Documento</th>
                <th>Produto</th>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Vlr. unitário</th>
                <th>Vlr. total</th>
                <th>Centro Custo</th>
                <th>Solicitante</th>
                <th>Observação</th>
            </thead>
            <tbody>

                @for (item of itemsDocumentoSelecionado; track item.item) {
                <tr>
                    <td>{{ item.item }}</td>
                    <td>{{ item.doc }}</td>
                    <td>{{ item.produto }}</td>
                    <td>{{ item.descricao }}</td>
                    <td>{{ item.quantidadeUm1 }}</td>
                    <td>{{ formataNumeroMoeda(item.valorUnitario || 0 ) }}</td>
                    <td>{{ formataNumeroMoeda(item.valorTotal || 0 ) }}</td>
                    <td>{{ item.centroCusto }}</td>
                    <td>{{ item.solicitante }}</td>
                    <td>{{ item.observacao }}</td>
                </tr>
                }

            </tbody>

        </table>

    </div>


    @if (documentoSelecionado.status == "02" || documentoSelecionado.status == "04") {

        <div class="po-action-btns-wrapper">
            <!-- <po-button p-icon="po-icon-document" p-size="large" p-kind="primary"
                (p-click)="abrirItensDocumento(documentoSelecionado)">

            </po-button> -->

            <po-button id="dlg-po-btn-aprovar" p-icon="po-icon-ok" p-size="large"
                (p-click)="abrirModalAprovacao(documentoSelecionado)">

            </po-button>
            <po-button p-icon="po-icon-close" p-size="large" p-kind="primary" p-danger
                (p-click)="abrirModalRecusa(documentoSelecionado)">

            </po-button>
        </div>
    }

</po-modal>

<po-modal #modalAprovacao p-title="Aprovar documento" [p-primary-action]="acoesModalAprovacao['confirmar']"
    [p-secondary-action]="acoesModalAprovacao['cancelar']">


    <div class="modal-visualizacao-container">
        <h3>Justificativa</h3>

        <po-textarea name="justificativa" [(ngModel)]="justificativaDocumento"
            p-placeholder="Por gentileza, justique sua aprovação."> </po-textarea>

    </div>


    <div class="modal-visualizacao-container">
        <h3>Documento</h3>

        <po-table #tableModalDocumento p-container="border" [p-columns]="columnsTabelaModalDocumento"
            [p-items]="[documentoSelecionado]" p-hide-columns-manager>

        </po-table>

    </div>


</po-modal>

<po-modal #modalRecusa p-title="Recusar documento" [p-primary-action]="acoesModalRecusa['confirmar']"
    [p-secondary-action]="acoesModalRecusa['cancelar']">


    <div class="modal-visualizacao-container">
        <h3>Justificativa</h3>

        <po-textarea name="justificativa" [(ngModel)]="justificativaDocumento"
            p-placeholder="Explique, por gentileza, qual seria o motivo da recusa?"> </po-textarea>

    </div>


    <div class="modal-visualizacao-container">
        <h3>Documento</h3>

        <po-table #tableModalDocumento p-container="border" [p-columns]="columnsTabelaModalDocumento"
            [p-items]="[documentoSelecionado]" p-hide-columns-manager>

        </po-table>

    </div>


</po-modal>

<po-modal #modalBloqueio p-title="Bloquear documento" [p-primary-action]="acoesModalBloqueio['confirmar']"
    [p-secondary-action]="acoesModalBloqueio['cancelar']">


    <div class="modal-visualizacao-container">
        <h3>Justificativa</h3>

        <po-textarea name="justificativa" [(ngModel)]="justificativaDocumento"
            p-placeholder="Explique, por gentileza, qual seria o motivo do bloqueio?"> </po-textarea>

    </div>


    <div class="modal-visualizacao-container">
        <h3>Documento</h3>

        <po-table #tableModalDocumento p-container="border" [p-columns]="columnsTabelaModalDocumento"
            [p-items]="[documentoSelecionado]" p-hide-columns-manager>

        </po-table>

    </div>


</po-modal>


<po-modal #modalItens p-title="Visualizar itens">


    <!-- Modal itens -->
    <po-list-view [p-items]="itemsDocumentoSelecionado">

        <ng-template p-list-view-content-template let-item [p-title]="formatarTituloItem">
            <div class="po-row">
                <!-- <po-info class="po-md-3" p-label="Id" [p-value]="item.id"></po-info>
                <po-info class="po-md-3" p-label="Produto" [p-value]="item.produto + ' - ' + item.descricao"></po-info> -->
                <po-info class="po-md-2" p-label="Quantidade"
                    [p-value]="item.quantidadeUm1 + ' ('+ item.um1 +')'"></po-info>

                @if (item?.valorUnitario && item?.valorTotal) {
                <po-info class="po-md-2" p-label="Valor unitário" [p-value]="'R$ ' + item.valorUnitario"></po-info>
                <po-info class="po-md-2" p-label="Valor total" [p-value]="'R$ ' + item.valorTotal"></po-info>
                }

                <po-info class="po-md-2" p-label="Centro Custo" [p-value]="item.centroCusto"></po-info>
                <po-info class="po-md-2" p-label="Conta Contábil" [p-value]="item.contaContabil"></po-info>

                @if (item?.dataEntrega) {
                <po-info class="po-md-2" p-label="Data Entrega" [p-value]="item.dataEntrega"></po-info>
                }

                @if (item?.necessidade) {
                <po-info class="po-md-2" p-label="Necessidade" [p-value]="item.necessidade"></po-info>
                }

                <po-info class="po-md-2" p-label="Solicitante" [p-value]="item.solicitante"></po-info>

                @if (item?.os) {
                <po-info class="po-md-2" p-label="OS/OP" [p-value]="item.os"></po-info>
                }

                <po-info class="po-md-2" p-label="Observação" [p-value]="item.observacao"></po-info>


            </div>
        </ng-template>

    </po-list-view>
</po-modal>


<!-- Modal Saldos -->
<po-modal #modalSaldos p-size="xl" p-title="Ver Saldo">
    <po-dynamic-view [p-fields]="formularioSaldo" [p-value]="saldoAtual">

    </po-dynamic-view>

</po-modal>


<!-- Modal Tranferencia -->
<po-modal #modalTransferencia p-title="Transferir para Superior"
    [p-primary-action]="acoesModalTransferencia['confirmar']"
    [p-secondary-action]="acoesModalTransferencia['cancelar']">


    <div class="modal-visualizacao-container">
        <h3>Justificativa</h3>

        <po-textarea name="justificativa" [(ngModel)]="justificativaDocumento"
            p-placeholder="Explique, por gentileza, qual seria o motivo da transferência?"> </po-textarea>

    </div>


    <div class="modal-visualizacao-container">
        <h3>Documento</h3>

        <po-table #tableModalDocumento p-container="border" [p-columns]="columnsTabelaModalDocumento"
            [p-items]="[documentoSelecionado]" p-hide-columns-manager>

        </po-table>

    </div>


</po-modal>

<po-loading-overlay p-text="Carregando itens" [hidden]="!loading"></po-loading-overlay>