::ng-deep .po-page {
    margin-top: 20px !important;
}

::ng-deep .po-page-content {
    height: auto !important;
}


.filtros-wrapper {
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    min-height: fit-content;
    border: 1px solid #ccc;
    justify-content: center;
}

.filtros-container {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    width: 100%;
}

.btn-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

@media screen and (max-width: 1024px) {
   .filtros-wrapper {
        width: 100%;
   } 
}

.po-action-btns-wrapper {
    position: absolute;
    bottom: 7em;
    right: 2em;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

::ng-deep .po-tabs-button-wrapper {
    margin-left: 2em;
}

::ng-deep .po-modal-xl {
    width: 98%;
}

::ng-deep .po-modal-body {
    padding-right: 24px;
}

::ng-deep #row-btn-aprovar .po-button[p-kind=secondary]  {
    background-color: #1b8f04 !important;
    color: #ffffff !important;

    &:hover {
        background-color: #135f03 !important;
    }
}

::ng-deep #dlg-po-btn-aprovar .po-button[p-kind=secondary]  {
    background-color: #1b8f04 !important;
    color: #ffffff !important;

    &:hover {
        background-color: #135f03 !important;
    }
}


::ng-deep .po-table-subtitle-footer-container {
    margin: 20px 0;
}

::ng-deep .po-table-row-template-container {
    margin-left: 10px !important;
}

.modal-visualizacao-container {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    margin-bottom: 1.3em;
}

.modal-visualizacao-saldo-aprovador-container {
    border: 1px solid #cccccc;
    padding: 10px;
    border-radius: 4px;
}

.historico-aprovacao-container {

    ::ng-deep .po-list-view-content {
        margin-top: 0 !important;
    }

    ::ng-deep .po-list-view-container {
        padding: 10px;
    }

}

.row-template-button-section {
    display: flex;
    gap: 1em;
    margin-top: 1.5em;
    margin-bottom: .5em;
    margin-left: 1em;
}

.non-poui-table {
    border: 1px solid rgb(190, 189, 189) !important;
    border-collapse: collapse;
    border-radius: 10px;
    width: 100%;

    #itens-table {
        margin-left: 10px;
    }

    th {
        padding: 10px;
        background-color: #e5e5e5;
        text-align: center;
    }


    td {
        padding: 5px;
        text-align: center;
    }
}
