
<po-tabs>
    <po-tab p-label="Pendentes" [p-active]="selectedTab == 'pendentes'" (p-click)="switchTab('pendentes')"></po-tab>
    <po-tab p-label="Aprovados" [p-active]="selectedTab == 'aprovados'" (p-click)="switchTab('aprovados')"></po-tab>
    <po-tab p-label="Recusados" [p-active]="selectedTab == 'recusados'" (p-click)="switchTab('recusados')"></po-tab>
    <po-tab p-label="Bloqueados" [p-active]="selectedTab == 'bloqueados'" (p-click)="switchTab('bloqueados')"></po-tab>
    <po-tab p-label="Todos" [p-active]="selectedTab == 'todos'" (p-click)="switchTab('todos')"></po-tab>
</po-tabs>


<po-page-dynamic-search 
(p-quick-search)="buscaDocumento($event)"
(p-change-disclaimers)="clickDisclaimers($event)"
(p-advanced-search)="realizaBuscaAvancada($event)"
[p-actions]="opcoesTela"
[p-filters]="filtroBuscaAvancada"
>

<po-table
    #tableDocumento
    [p-actions]="acoesTabela"
    p-container="border"
    [p-columns]="columns"
    [p-items]="documentos"
    [p-loading]="loading"
    [p-literals]="{ loadMoreData: 'Carregar mais dados', noData: 'Nenhum documento encontrado' }"
    (p-dblClick)="abrirDocumento($event)"></po-table>
</po-page-dynamic-search>


<po-modal
    p-title="Visualizar Documento"
>

    <po-dynamic-view
        [p-fields]="formularioDocumento"
        [p-value]="documentoSelecionado" 
    >
        
    </po-dynamic-view>

    <div class="po-action-btns-wrapper">
        <po-button
            p-icon="po-icon-document"
            p-size="large"
            p-kind="primary"
            (p-click)="abrirItensDocumento(documentoSelecionado)"
        >

        </po-button>
        <po-button
            p-icon="po-icon-ok"
            p-size="large"
            p-kind="primary"
            (p-click)="aprovarDocumento(documentoSelecionado)"
        >

        </po-button>
        <po-button
            p-icon="po-icon-close"
            p-size="large"
            p-kind="primary"
            p-danger
            (p-click)="rejeitarDocumento(documentoSelecionado)"
        >

        </po-button>
    </div>

</po-modal>


<po-modal
    #modalItens
    p-title="Visualizar itens"
>


    <po-list-view
    [p-items]="itemsDocumentoSelecionado"
    >

        <ng-template p-list-view-content-template let-item [p-title]="formatarTituloItem">
            <div class="po-row">
                <!-- <po-info class="po-md-3" p-label="Id" [p-value]="item.id"></po-info>
                <po-info class="po-md-3" p-label="Produto" [p-value]="item.produto + ' - ' + item.descricao"></po-info> -->
                <po-info class="po-md-3" p-label="Quantidade" [p-value]="item.quantidadeUm1 + ' ('+ item.um1 +')'"></po-info>

                @if (item?.valorUnitario && item?.valorTotal) {
                    <po-info class="po-md-3" p-label="Valor unitário" [p-value]="item.valorUnitario"></po-info>
                    <po-info class="po-md-3" p-label="Valor total" [p-value]="item.valorTotal"></po-info>
                }

                <po-info class="po-md-3" p-label="Centro Custo" [p-value]="item.centroCusto"></po-info>
                <po-info class="po-md-3" p-label="Conta Contábil" [p-value]="item.contaContabil"></po-info>

                @if (item?.dataEntrega) {
                    <po-info class="po-md-3" p-label="Data Entrega" [p-value]="item.dataEntrega"></po-info>
                }

                @if (item?.necessidade) {
                    <po-info class="po-md-3" p-label="Necessidade" [p-value]="item.necessidade"></po-info>
                }

                <po-info class="po-md-3" p-label="Solicitante" [p-value]="item.solicitante"></po-info>

                @if (item?.os) {
                    <po-info class="po-md-3" p-label="OS/OP" [p-value]="item.os"></po-info>
                }

                <po-info class="po-md-9" p-label="Observação" [p-value]="item.observacao"></po-info>
                

            </div>
        </ng-template>

    </po-list-view>
</po-modal>

<po-modal 
    #modalSaldos
    p-title="Ver Saldo"
>

    Implementar modal saldo
</po-modal>