<po-page-dynamic-search 
(p-quick-search)="buscaDocumento($event)"
(p-change-disclaimers)="clickDisclaimers($event)"
(p-advanced-search)="realizaBuscaAvancada($event)"
[p-actions]="opcoesTela"
[p-filters]="filtroBuscaAvancada"
>

<po-tabs>
    <po-tab p-label="Pendentes" [p-active]="selectedTab == 'pendentes'" (p-click)="switchTab('pendentes')"></po-tab>
    <po-tab p-label="Aprovados" [p-active]="selectedTab == 'aprovados'" (p-click)="switchTab('aprovados')"></po-tab>
    <po-tab p-label="Recusados" [p-active]="selectedTab == 'recusados'" (p-click)="switchTab('recusados')"></po-tab>
    <po-tab p-label="Bloqueados" [p-active]="selectedTab == 'bloqueados'" (p-click)="switchTab('bloqueados')"></po-tab>
    <po-tab p-label="Todos" [p-active]="selectedTab == 'todos'" (p-click)="switchTab('todos')"></po-tab>
</po-tabs>



<po-table
    #tableDocumento
    [p-actions]="acoesTabela"
    p-container="border"
    [p-columns]="columns"
    [p-items]="documentos"
    [p-loading]="loading"
    [p-literals]="{ loadMoreData: 'Carregar mais dados', noData: 'Nenhum documento encontrado' }"
    (p-dblClick)="abrirDocumento($event)"></po-table>

</po-page-dynamic-search>

<po-modal
    p-title="Visualizar Documento"
>
    teste
    <!-- <po-page-dynamic-form
        [p-fields]="fields"
        [p-actions]="actions"
        [p-literals]="{ save: 'Salvar', cancel: 'Cancelar' }"
        [p-form]="form"
    ></po-page-dynamic-form> -->
</po-modal>