::ng-deep .po-page {
    margin-top: 20px !important;
}

.po-action-btns-wrapper {
    position: absolute;
    bottom: 7em;
    right: 2em;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

::ng-deep .po-tabs-button-wrapper {
    margin-left: 2em;
}

::ng-deep .po-modal-xl {
    width: 98%;
}

::ng-deep .po-modal-body {
    padding-right: 24px;
}