.po-action-btns-wrapper {
    position: absolute;
    bottom: 7em;
    right: 2em;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

::ng-deep .po-tabs-button-wrapper {
    margin-left: 2em;
}
